.App {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
}

.box {
  display: grid;
  width: 40%;
  margin-bottom: 60px;
}

.box__title {
  font-size: 4rem;
  font-weight: 200;
  color: rgba(255, 0, 0, 0.2);
  margin: 1rem;
}

